doctype html

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title Mike Zhang

    block pagecss

    // bower:css
    link(rel='stylesheet', href='public/bower_components/bootstrap/dist/css/bootstrap.css')
    // endbower
    link(rel='stylesheet', href='public/css/main.css')

  body
    .container    
      .header
        ul.nav.nav-pills.pull-right
          li
            a(href="#") Home
          li
            a(href="#") Resume
          li
            a(href="#") Blog
        div.logo
          h1#name Mike Zhang
          h3#title Programmer

      .container.page-content
        block content

      .footer
        p For serious business (srs bsns), I do prefer contact by 
          a(href="mailto:mz3@princeton.edu") email 

    // bower:js
    script(src='public/bower_components/jquery/dist/jquery.js')
    script(src='public/bower_components/bootstrap/dist/js/bootstrap.js')
    // endbower
    
    block pagejs

